@model ANovelCompanion.ViewModels.BookCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add A Book</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorFirstName" class="control-label"></label>
                <input asp-for="AuthorFirstName" class="form-control" />
                <span asp-validation-for="AuthorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorLastName" class="control-label"></label>
                <input asp-for="AuthorLastName" class="form-control" />
                <span asp-validation-for="AuthorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryIds" class="control-label"></label>
                @foreach (var category in Model.Categories)
                {
                    <label>@category.Name</label>
                    <input type="checkbox" name="CategoryIds" value="@category.Id" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Add Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Book List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
