@{
    ViewData["Title"] = "Home Page";
}

<html>
<body>
    <div>
        <img class="bg-img" src="https://hdwallsource.com/img/2014/6/wonderful-book-pages-wallpaper-43889-44973-hd-wallpapers.jpg"/>
    </div>
</body>
</html>
