@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

<html>
<body>
    <div>
        <img class="bg-img"/>
    </div>
    <div>
        <h1 class="main-title">Meet A Novel Companion,</h1>
        <h1 class="minor-title">Get to know your books on a personal level</h1>
        <h3 class="description">Our goal is to bring people together and get more out of our books. 
        So, resubmerse yourself in your favorite fictional world, share your art, squeeze every ounce of magic out of that collection
        of words on a page. Check out the Book List to get started.</h3>
        <div class="text-box">
            <h4 class="quote">“We are like islands in the sea, separate on the surface but connected in the deep.” - William James</h4>
        </div>
        
    </div>
</body>
</html>
