@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    
    
        <div class="middle-background">
            <img id="img-home-background" 
                 src="https://hdwallsource.com/img/2014/6/wonderful-book-pages-wallpaper-43889-44973-hd-wallpapers.jpg" 
                 alt="Open Books"/>
            <div class="centered">
                <h1 class="main-title">Meet A Novel Companion,</h1>
                <h1 class="main-title">get to know your books on a personal level</h1>
                <h3 class="description">“We are like islands in the sea, separate on the surface but connected in the deep.” - William James</h3>
            </div>
        </div>
    
    
