/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'IM Fell English SC', serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 43px;
    text-align: center;
    background: url('../Resources/bookpagesopaque.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 1375px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background: transparent;
}

#image {
    max-height: 130px;
    max-width: 130px;
    height: auto;
    width: auto;
    border: .5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 9%;
}

    #image:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

hr {
    border: 1px dashed #000;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: auto;
}

.partial-separation {
    border: 1px dashed #000;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: auto;
}

.table-center {
    margin-top: 1%;
    width: 100%;
    background-image: linear-gradient(#EEE8BF,#F0E68F);
}

.container {
    width: 100%;
    
}

.navbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: transparent;
    width: 100%;
    z-index: 99;
}

.main-title {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 80px;
    font-weight: 20;
    font-stretch: extra-expanded;
    width: 100%;
    margin-top: 10%;
    margin-left: -5%;
    text-align: left;
    opacity: .7;
}

.minor-title {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 50px;
    font-weight: 20;
    font-stretch: extra-expanded;
    width: 100%;
    margin-left: -5%;
    margin-top: -2%;
    text-align: left;
    opacity: .7;
}

.description {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    font-weight: 20;
    font-stretch: extra-expanded;
    width: 100%;
    margin-left: -5%;
    margin-top: 3%;
    text-align: left;
    justify-content:flex-end;
}

.quote {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 30px;
    font-weight: 20;
    font-stretch: extra-expanded;
    width: 100%;
    margin-top: 8%;
    margin-left: -5.5%;
    text-align: match-parent;
    justify-content: flex-end;
    color: black;
}

.table-title {
    width: 300px;
    font-size: 50px;
    font-weight: 20;
    font-stretch: extra-expanded;
    padding-top: 7%;
    margin-bottom: -3%;
    margin-left: 35%;
    text-align: center;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.link{
    margin-left: 30%;
    width: 100px;
}
.table-left {
    margin-top: 4%;
    width: 70%;
    background-image: linear-gradient(#EEE8BF,#F0E68F);
    text-align: left;
}

.table-left-data{
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.table-left-data-description {
    margin-left: 5%;
    margin-right: 5%;
}

.table-title-left {
    width: 200px;
    font-size: 50px;
    font-weight: 20;
    font-stretch: extra-expanded;
    padding-top: 7%;
    margin-bottom: -4%;
    margin-left: 0%;
    text-align: left;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.link-left {
    margin-left: 20%;
    width: 120px;
    margin-bottom: -3%;
    padding-top: .8%;
    font-size: 18px;
}

.book-title {
    padding-top: 8%;
    margin-left: 0%;
    text-align: left;
    font-size: 80px;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.book-author {
    padding-top: 0%;
    margin-left: 0%;
    text-align: left;
    font-size: 30px;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.book-rating-link {
    margin-top: -3.5%;
    margin-right: 36%;
    text-align: right;
    font-size: 20px;
    opacity: .8;
    color: black;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.book-category {
    text-align: left;
    font-size: 18px;
    margin-bottom: -3%;
    margin-left: 0%;
    opacity: .8;
    color: black;
}

.rate-table-title-left {
    width: 500px;
    font-size: 50px;
    font-weight: 20;
    font-stretch: extra-expanded;
    padding-top: 7%;
    margin-bottom: 1%;
    margin-left: 0%;
    text-align: left;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.rate-link-left {
    width: 120px;
    font-size: 18px;
    text-align: right;
    margin-left: 55%;
    margin-top: -4.6%;
    margin-bottom: -.2%;
    opacity: .8;
}

.add-link-left {
    width: 120px;
    font-size: 18px;
    text-align: right;
    margin-left: 25%;
    padding-top: 0%;
    margin-bottom: -.2%;
    opacity: .8;
}

.create-title {
    width: 500px;
    font-size: 50px;
    font-weight: 20;
    font-stretch: extra-expanded;
    padding-top: 7%;
    margin-bottom: -3%;
    margin-left: 0%;
    text-align: left;
    opacity: .7;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.control-label {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: black;
    opacity: .8;
}

.category-label {
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: black;
    opacity: .8;
    padding-right: 5%;
}

.row{
    padding-top: 3%;
}


