#img-home-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle-background {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-title {
    font-size: 100px;
    
}

#body {
    font-size: 25px;
    
}

.description {
    
    font-size: 37px;
}

.container {
    position: relative;
    text-align: center;
}

textarea {
    height: 150px;
    width: 350px;
}
#image {
    max-height: 130px;
    max-width: 130px;
    height: auto;
    width: auto;
    border: .5px solid #ddd;
    border-radius: 4px;
    padding: 5px; 
}

#image:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

hr {
    border: 1px dashed #000;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
}


